h2{
	border-bottom: 3px solid black;
	height: 30px;
	font-size: 20px;
	text-align: center;
}
button{
	margin-bottom: 20px;
    font-size: 20px;
	width: 156px;
    border: 3px solid black;
    cursor: pointer;
}
.clear{
    clear: both;
}
.buttonActive{
	background-color: #bbbbbb;
}
.buttonPassive{
	background-color: #ffffff;
}
.tile{
	width: 150px;
	height: 150px;
	text-align: center;
	font-size: 125px;	
	margin: 0px;
	float: left;
	border: 2px solid black;
	cursor: pointer;
}
#logsField{
	border: 3px solid black;
	width: 300px;
	height: 520px;
	float:left;
}
#leftSide{
	float: left;
	margin-right: 50px;	
}
#buttonNewGame{
    float: right;
}
#buttonStart{
    float: left;
}
#logsText{
	width: 294px;
	height: 450px;
}
#gameField{
	border: 2px solid black;
	height: 462px;
	width: 462px;
}